{:deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/tools.cli {:mvn/version "1.0.206"}
        org.clojure/data.json {:mvn/version "2.3.0"}
        borkdude/sci {:mvn/version "0.2.5"}}
 :aliases
 {:native-deps {:extra-deps {com.github.clj-easy/graal-build-time {:mvn/version "0.1.0"}}}
  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.3.0" :git/sha "e418fc9"}}
          :ns-default build}}}
